<div class="contain-to-grid">
  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name">
        <h1><%=link_to('esteam', root_path)%></h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
    </ul>
    <section class="top-bar-section">
      <ul class="right">
        <li class="active"><%=link_to('Home', root_path)%></li>
        <li><a href='https://github.com/BaconPancakes/esteam' target="_blank"> About</a></li>
        <li><a href="https://github.com/BaconPancakes/esteam" target="_blank">Contact</a></li>
      </ul>
    </section>
  </nav>
</div>

<br>

<div class = 'row'>
  <h2> The State Postulate says: </h2>
  <blockquote>"The state of a simple compressible closed system (which is at equilibrium)
    is completely specified by any two independent intensive state properties."
  </blockquote>

  <% pressure, temperature, specific_entropy, specific_enthalpy, specific_volume, specific_energy = nil %>
  <% if @results.present?%>
      <%# if @results[:success]%>
      <% pressure = @results[:pressure].to_s if @results[:pressure].present? %>
      <% temperature = @results[:temperature].to_s if @results[:temperature].present? %>
      <% specific_energy = @results[:specific_energy].to_s if @results[:specific_energy].present? %>
      <% specific_entropy = @results[:specific_entropy].to_s if @results[:specific_entropy].present? %>
      <% specific_enthalpy = @results[:specific_enthalpy].to_s if @results[:specific_enthalpy].present? %>
      <% specific_volume = @results[:specific_volume].to_s if @results[:specific_volume].present? %>
      <% quality = @results[:quality].to_s if @results[:quality].present? %>
      <%# end %>
  <% end %>


  <%= form_tag('lookup', method: 'get', id: 'lookupform') do %>
      <fieldset>
        <legend>Enter Known Properties</legend>

        <div id ='sat'>
          <label id="satlabel">Saturated?</label>
          <div class="switch small" id ='satswitch'>
            <%= check_box_tag(:saturated, params[:saturated])%>
            <%= label_tag(:saturated, '') %>
          </div>
        </div>

        <div class = 'property_field'>
          <%= label_tag(:pressure, 'Pressure') %>
          <%= text_field_tag(:pressure, params[:pressure], placeholder: ' (kPa)', value: pressure)  %>
        </div>

        <div class = 'property_field'>
          <%= label_tag(:temperature, 'Temperature')%>
          <%= text_field_tag(:temperature, params[:temperature], placeholder: ' (°C)', value: temperature) %>
        </div>

        <div class = 'property_field'>
          <%= label_tag(:specific_volume, 'Specific Volume'.html_safe)%>
          <%= text_field_tag(:specific_volume, params[:specific_volume],
                             placeholder: ' (m&sup3/kg)'.html_safe, value: specific_volume) %>
        </div>

        <div class = 'property_field'>
          <%= label_tag(:specific_energy, 'Specific Energy') %>
          <%= text_field_tag(:specific_energy, params[:specific_energy],
                             placeholder: ' (kJ/kg)', value: specific_energy) %>
        </div>

        <div class = 'property_field'>
          <%= label_tag(:specific_enthalpy, 'Specific Enthalpy') %>
          <%= text_field_tag(:specific_enthalpy, params[:specific_enthalpy],
                             placeholder: ' (kJ/kg)', value: specific_enthalpy) %>
        </div>

        <div class = 'property_field'>
          <%= label_tag(:specific_entropy, 'Specific Entropy') %>
          <%= text_field_tag(:specific_entropy, params[:specific_entropy],
                             placeholder: ' (kJ/kg-K)', value: specific_entropy) %>
        </div>

        <! TODO: jQuery to show this field only when necessary >
        <div class = 'property_field'>
          <%= label_tag(:quality, 'Vapor Quality') %>
          <%= text_field_tag(:quality, params[:quality], placeholder:  ' (%)', value: quality) %>

        </div>
        <div id="buttons">
          <%= submit_tag("Go", class: 'button tiny', id: 'go')%>
          <input type="button" id = 'clear' class ='button tiny' value="Clear" onclick="clearForm(this.form);">
        </div>
      </fieldset>
  <% end %>



  <div id = "footer">
    <ul>
      <li><h5><small>This is a work in progress! Bear with us!</small></h5></li>
    </ul>
    </footer>
  </div>
</div>

