<p> The results are the following:
  <br>
  Pressure: <%=@results[:pressure]%>
  <br>
  Temperature: <%= @results[:temperature] %>
  <br>
  Specific Volume: <%=@results[:specific_volume]%>
  <br>
  Specific Energy: <%= @results[:specific_energy] %>
  <br>
  Quality: <%= @results[:quality] %>
</p>

<p> All parameters:
  <%= @params %>
</p>